*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
}

.navcontainer{
    max-width: 1224px;
    margin-right: auto;
    margin-left: auto;
}



.icon{
    width: 23px;
    height: 23px;
}